<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>
    <div class="row main-body">
        <% if (page.path.indexOf('blog') > -1) { %>
          <%- partial('_partial/blog') %>
        <% } else if (page.path.indexOf('articles') > -1) { %>
          <%- partial('_partial/articles') %>
        <% } else if (page.path.indexOf('places') > -1) { %>
          <%- partial('_partial/places') %>
        <% } else if (page.path.indexOf('b-roll') > -1) { %>
          <%- partial('_partial/b-roll') %>
        <% } else { %>
          <%- body %>
        <% } %>

    </div>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>
